/* start global rules */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition-duration: 0.3s;
    --section-padding: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ---Small screen--- */
@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

/* ---mediume screen--- */
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

/* ---larg screen--- */
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.main-title {
    margin: 50px auto;
    padding: 10px 20px;
    width: fit-content;
    border: 2px solid black;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.main-title::before,
.main-title::after {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition-duration);
}


.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    animation: left-move 0.5s linear forwards;
    z-index: -1;
}

.main-title:hover::after {
    animation: right-move 0.5s linear forwards;
    z-index: -1;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 50px 50px;
}

.dots{
    background-image: url(../images/dots.png);
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}

.dots-up{
    top: 200px;
    right: 0;
}

.dots-down{
    bottom: 200px;
    left: 0;
}

/* end global rules */

/* start header */

header {
    background-color: white;
    position: relative;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    header .logo {
        width: 100%;
    }
}

header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    header .main-nav {
        margin: auto;
    }
}

header .main-nav>li>a {
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition-duration);
    overflow: hidden;
}

@media (max-width: 767px) {
    header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition-duration);
}

header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

header .main-nav>li>a:hover::before {
    left: 0;
}

/* ------------------ */

/* start mega-menu */
header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: white;
    padding: 30px;
    z-index: -1;
    display: flex;
    gap: 40px;
    border-bottom: 4px solid var(--main-color);
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition-duration), opacity var(--main-transition-duration);
}


header .main-nav li:hover .mega-menu {
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 5;
}

@media (max-width:767px) {
    header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px
    }
}

header .main-nav .mega-menu img {
    max-width: 100%;
}

@media (max-width:991px) {
    header .main-nav .mega-menu img {
        display: none;
    }
}

header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

header .mega-menu .links li {
    border-bottom: 1px solid #e9e6e6;
    position: relative;
}

header .mega-menu .links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #fafafa;
    transition: width var(--main-transition-duration);
    z-index: -1;
}

header .mega-menu .links li:hover:before {
    width: 100%;
}

header .mega-menu .links li a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

header .mega-menu .links li i {
    margin-right: 10px;
}

/* ----------------- */
/* start landing */
.landing {
    position: relative;
}

.landing::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    transform: skewY(-6deg);
    transform-origin: left top;
    z-index: -1;
}

.landing .container {
    min-height: calc(100vh - 73px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 23px;
    line-height: 1.6;
    color: #555;
    margin: 5px 0 0;
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

/* -------------------- */
/* start articles  */
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 /30%);

}

.articles .box img {
    width: 100%;
}

.articles .box .text {
    padding: 20px;
}

.articles .box h3 {
    margin: 0;
}

.articles .box p {
    margin-top: 10px;
    color: #777;
    line-height: 1.6;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .box .info a,
.articles .box .info i {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box:hover .info i {
    animation: arrow-move 0.6s linear infinite;
}

/* ---------------------- */
/* start Gallary */
.gallary {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.gallary .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallary .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px rgb(0 0 0 /13%), 0 2px 4px rgb(0 0 0 /12%);
}

.gallary .image {
    position: relative;
    overflow: hidden;
}

.gallary .image::before {
    content: "";
    background-color: rgb(255 255 255/20%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.gallary .image:hover::before {
    animation: flash 0.7s;
}

.gallary .image img {
    max-width: 100%;
    transition: var(--main-transition-duration);
}

.gallary .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

/* --------------- */

/* start features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    border: 1px solid #bbb;
    text-align: center;
}

.features .container .image-holder {
    position: relative;
    overflow: hidden;
}


.features .box .image-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition-duration);
}

.features .box:hover .image-holder::after {
    border-width: 170px 500px 170px 0;
}

.features .container .image-holder img {
    max-width: 100%;
}

.features .box .text h3 {
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    width: fit-content;
    position: relative;
}

.features .quality .text h3::after {
    content: "";
    background-color: #f43f36;
    position: absolute;
    bottom: -20px;
    left: 20px;
    height: 5px;
    width: calc(100% - 40px);
}

.features .time .text h3::after {
    content: "";
    background-color: #009485;
    position: absolute;
    bottom: -20px;
    left: 20px;
    height: 5px;
    width: calc(100% - 40px);
}

.features .passtion .text h3::after {
    content: "";
    background-color: #03a8f4;
    position: absolute;
    bottom: -20px;
    left: 20px;
    height: 5px;
    width: calc(100% - 40px);
}

.features .box .text p {
    color: #777;
    line-height: 2;
    font-size: 20px;
    margin: 0 10;
    padding: 20px;
}

.features .box a {
    display: block;
    margin: 70px auto;
    padding: 10px 25px;
    width: fit-content;
    font-size: 25px;
    font-weight: bold;
    border-radius: 6px;
    transition: var(--main-transition-duration);
}

/* ------coloring----------- */
.features .quality .image-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 63, 54, 0.4);
    z-index: 0;
}

.features .time .image-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 148, 133, 0.4);
    z-index: 0;
}

.features .passtion .image-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 168, 244, 0.4);
    z-index: 0;
}

.features .quality a {
    color: #f43f36;
    border: 3px solid #f43f36;
    background: linear-gradient(to right, #f43f36 50%, white 50%);
    background-size: 200% 100%;
    background-position: right 0;

}

.features .time a {
    color: #009485;
    border: 3px solid #009485;
    background: linear-gradient(to right, #009485 50%, white 50%);
    background-size: 200% 100%;
    background-position: right 0;

}

.features .passtion a {
    color: #03a8f4;
    border: 3px solid #03a8f4;
    background: linear-gradient(to right, #03a8f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right 0;

}

.features .box:hover a {
    background-position: left 0;
    color: white;
}

/* ==================================== */
/* start testimonials */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .container .box {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 /7%);
    border-radius: 6px;
    position: relative;
}

.testimonials .container .box img {
    position: absolute;
    right: -10px;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
}

.testimonials .container .box h3 {
    margin: 0 0 10px;
}

.testimonials .container .box .title {
    color: #777;
    display: block;
    margin-bottom: 10px;
}

.testimonials .container .box .rate .fill {
    color: #ffc107;
}

.testimonials .container .box p {
    color: #777;
    line-height: 1.5;
}

/* ========================*/
/* start team member */
.team {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team .box {
    position: relative;
}

.team .box::before,
.team .box::after {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
    transition: var(--main-transition-duration);
}

.team .box::before {
    width: calc(100% - 60px);
    background-color: #f3f3f3;
    z-index: -2;
}

.team .box::after {
    background-color: #e4e4e4;
    width: 0;
    z-index: -1;
}

.team .box:hover::after {
    width: calc(100% - 60px);

}

.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .box .data img {
    width: calc(100% - 60px);
    transition: var(--main-transition-duration);
    border-radius: 10px;
}

.team .box:hover .data img {
    filter: grayscale(100%);
}

.team .box .data .icons {
    width: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.team .box .data a {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .box .data i {
    color: #777;
    transition: var(--main-transition-duration);
}

.team .box .data a:hover i {
    color: var(--main-color);
}

.team .box .text {
    padding-left: 80px;
}

.team .box .text h3 {
    color: var(--main-color);
    font-size: 22px;
    margin-bottom: 0;
    transition: var(--main-transition-duration);
}

.team .box:hover .text h3 {
    color: #777;
}

.team .box .text p {
    margin-top: 10px;
    margin-bottom: 25px;
}

/* =================== */
/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}

.services .container .box {
    background-color: white;
    counter-increment: number-of-boxes;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 /13%),
        0 2px 4px 0 rgb(0 0 0 /12%);
    transition: var(--main-transition-duration);
    position: relative;
}

.services .container .box::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3px;
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-transition-duration);
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box:hover:before {
    width: 100%;
}


.services .container .box i {
    color: #d5d5d5;
}

.services .container .box h3 {
    color: var(--main-color);
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.services .container .box .footer {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
    overflow: hidden;
}

.services .container .box .footer::before {
    content: "0" counter(number-of-boxes);
    background-color: var(--main-color);
    color: white;
    width: 80px;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services .container .box .footer::after {
    content: "";
    background-color: #d5d5d5;
    width: 45px;
    height: 110%;
    position: absolute;
    left: 80px;
    top: 0;
    transform: skewX(-30deg);
}

.services .container .box .footer a {
    color: var(--main-color);
}

/* ============================ */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .our-skills .container img {
        display: none;
    }
}

.our-skills .container .skills {
    flex: 1;
}


.our-skills .container .skill-box h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .container .skill-box span {
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
    color: var(--main-color);
}

.our-skills .container .skill-box .progress {
    width: 100%;
    height: 30px;
    background-color: #EEE;
    position: relative;
}

.our-skills .container .skill-box .progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: 3;
}

/* ======================= */

/* start work steps */
.work-steps {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.work-steps .container {
    display: flex;
    align-items: center;
}

.work-steps .container .image {
    max-width: 100%;
}

@media (max-width:991px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps .all-work {
    margin-left: 70px;
}

@media (max-width:991px) {
    .work-steps .all-work {
        margin: 20px 0 0;
    }
}

.work-steps .all-work .step {
    display: flex;
    align-items: center;
    background-color: #f6f5f5;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 30px;
    border: 2px solid white;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

@media (max-width:767px) {
    .work-steps .all-work .step {
        flex-direction: column;
        text-align: center;
    }

}


.work-steps .all-work .step::after {
    content: "";
    background-color: var(--section-background);
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--main-transition-duration);
    z-index: -1;
}

.work-steps .all-work .step:hover::after {
    width: 100%;
    height: 100%;
}


.work-steps .all-work .step img {
    width: 60px;
}

.work-steps .all-work .step .text {
    margin-left: 30px;
}

@media (max-width:767px) {
    .work-steps .all-work .step .text {
        margin-left: 0;
    }

}

.work-steps .all-work .step .text h3 {
    margin: 0;
    margin-top: 10px;
    font-size: 22px;
}

.work-steps .all-work .step .text p {
    font-size: 18px;
    color: #777;
    line-height: 1.6;
}

/* ========================= */
/*--- start events--- */
.events {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .container img {
    max-width: 450px;
}

@media(max-width:991px) {
    .events .container img {
        display: none;
    }
}

.events .container .info {
    flex: 1;
}

.events .info .time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
}

.events .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition-duration);
}

.events .info .time .unit:hover {
    border: 1px solid var(--main-color);
}

.events .info .time .unit span {
    display: block;
}

.events .info .time .unit span:first-child {
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}

.events .info .time .unit span:last-child {
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition-duration);
}

.events .info .time .unit:hover span:last-child {
    border-top: 1px solid var(--main-color);

}

.events .title {
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
    font-weight: bold;
}

.events .description {
    text-align: center;
    line-height: 1.6;
    font-size: 19px;
    color: #777;
}

.events .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width:767px) {
    .events .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}

.events .subscribe form input[type="email"] {
    padding: 20px;
    border: none;
    border-radius: 50px;
    flex: 1;
    caret-color: var(--main-color);
}

.events .subscribe form input[type="email"]:focus {
    outline: none
}

.events .subscribe form input[type="email"]::placeholder {
    transition: opacity var(--main-transition-duration);
}

.events .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}

@media (max-width:767px) {
    .events .subscribe form input[type="email"] {
        border-radius: 0;
    }
}


.events .subscribe form input[type="submit"] {
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}

.events .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* ==================== */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    position: relative;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .container .offer {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 /13%),
        0 2px 4px 0 rgb(0 0 0 /12%);
    text-align: center;
    position: relative;
    z-index: 1;
}

@media (min-width:1200px) {
    .pricing .offer.advanced {
        top: -20px;
    }
}

.pricing .container .offer.advanced .lable {
    position: absolute;
    writing-mode: vertical-lr;
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    width: 40px;
    right: 20px;
}

.pricing .container .offer.advanced .lable::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 1px;
    border-width: 19px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition-duration);
}

.pricing .container .offer.advanced:hover .lable::before {
    border-color: transparent transparent #f6f5f5 transparent;
}

.pricing .container .offer::before,
.pricing .container .offer::after {
    content: "";
    width: 0;
    height: 50%;
    background-color: #f6f5f5;
    position: absolute;
    z-index: -1;
    transition: var(--main-transition-duration);
}

.pricing .container .offer::before {
    left: 0;
    top: 0;
}

.pricing .container .offer::after {
    right: 0;
    bottom: 0;
}

.pricing .container .offer:hover:before,
.pricing .container .offer:hover:after {
    width: 100%;
}

.pricing .offer h3 {
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
}

.pricing .offer img {
    width: 80px;
    margin-bottom: 30px;
}

.pricing .offer .price {
    margin-bottom: 20px;
}

.pricing .offer .price span {
    display: block;
}

.pricing .offer .price span:first-child {
    font-size: 50px;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 5px;
}

.pricing .offer .price span:last-child {
    color: #777;
}

.pricing .offer ul {
    text-align: left;
}

.pricing .offer ul li {
    padding: 20px;
    border-top: 1px solid #EEE;
}

.pricing .offer ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.pricing .offer a {
    display: block;
    width: fit-content;
    margin: 20px auto 30px;
    padding: 15px 20px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 6px;
    font-weight: bold;
    transition: var(--main-transition-duration);
}

.pricing .offer a:hover {
    background-color: var(--main-color-alt);
    color: white;
}

/* ======================= */

/* start videos section */
.videos {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.videos .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}

@media (max-width:991px) {
    .videos .holder {
        flex-direction: column;
    }
}

.videos .holder .list {
    min-width: 300px;
    background-color: white;
}

.videos .holder .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--main-color);
    font-weight: bold;
    background-color: #f4f4f4;
}

.videos .holder .list ul li {
    padding: 20px;
    border: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition-duration);
}

.videos .holder .list ul li:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.videos .holder .list ul span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.videos .holder .preview {
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos .holder .preview img {
    max-width: 100%;
}

.videos .holder .preview .info {
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}

/* ====================  */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stats.jpg);
    background-size: cover;
    min-height: 300px;
    position: relative;
}

.stats::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255 255 255/80%);
}

.stats h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
    z-index: 1;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .box {
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    opacity: 0.8;
    transition: var(--main-transition-duration);
}

.stats .box::before,
.stats .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
}

.stats .box::before {
    bottom: 0;
    left: 0;
}

.stats .box::after {
    top: 0;
    right: 0;
}

.stats .box:hover {
    opacity: 1;
}

.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}

.stats .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stats .box .text {
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
}

/* =========================  */

/* start discount section  */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
}

.discount .image {
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    flex-basis: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

.discount .image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(23 135 224/97%);
    z-index: -1;
}

@media (max-width:991px) {
    .discount .image {
        flex-basis: 100%;
    }
}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

@media (max-width:991px) {
    .discount .form {
        flex-basis: 100%;
    }
}

.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    caret-color: var(--main-color);
    background-color: #f9f9f9;
}

.discount .form .input:focus {
    outline: none;
}

.discount .form textarea.input {
    resize: none;
    height: 200px;
}

.discount .form input[type="submit"] {
    display: block;
    background-color: var(--main-color);
    color: white;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition-duration);

}

.discount .form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* ====================== */

/* start footer  */
footer {
    background-color: #191919;
    padding: 70px 0 30px 0;
}

@media(max-width:767px) {
    footer {
        text-align: center;
    }
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

footer .box .social {
    display: flex;
}

@media(max-width:767px) {
    footer .box .social {
        display: flex;
        justify-content: center;
    }
}

footer .box .social li {
    margin-right: 10px;
}

footer .box .social li a {
    background-color: #313131;
    color: #898989;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition-duration);
}

footer .box .social .facebook:hover {
    background-color: #1877f2;
}

footer .box .social .twitter:hover {
    background-color: #1da1f2;

}


footer .box .social .youtube:hover {
    background-color: #ff0000;

}

footer .box .text {
    line-height: 2;
    color: #898989;
}

footer .links li {
    padding: 15px 0;
    transition: var(--main-transition-duration);
}

footer .links li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

footer .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

footer .links li:hover {
    padding-left: 10px;
}

footer .links li:hover a {
    color: white;
}

footer .links li a {
    color: #b9b9b9;
    transition: var(--main-transition-duration);
}

footer .line {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    footer .line {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    footer .line i {
        margin-bottom: 5px;
    }


}

footer .line i {
    color: var(--main-color);
    margin-right: 10px;
    font-size: 25px;
}

footer .line .info {
    color: #b9b9b9;
    line-height: 1.7;
}

footer .footer-gallary img {
    width: 78px;
    margin: 2px;
    border: 3px solid white;
}


/* ---start animation --- */
@keyframes up-and-down {

    0%,
    100% {
        top: 0
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-20px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 13px;
        height: 13px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50.5%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 13px;
        height: 13px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50.5%;
        height: 100%;
    }
}

@keyframes arrow-move {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flash {

    0%,
    40% {
        opacity: 1;

    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes change-background {

    0%,
    100% {
        background-image: url(../images/discount-background1.jpg)
    }

    50% {
        background-image: url(../images/discount-background2.jpg);
    }
}